[Desktop Entry]
Version=1.0
Type=Application
Name=GNU Image Manipulation Program
Name[ar]=برنامج جنو لمعالجة الصور
Name[be]=GNU Image Manipulation Program
Name[bg]=Редактор на изображения (GIMP)
Name[ca]=Programa de retoc d'imatges de GNU
Name[ca@valencia]=Programa de retoc d'imatges de GNU
Name[cs]=GNU Image Manipulation Program
Name[da]=GNU Image Manipulation Program
Name[de]=GNU Image Manipulation Program
Name[dz]=་་ཨི་མེཇི་་མ་ནུ་པུ་ལེ་ཤཱན་་པོརོ་གརམ།
Name[en_CA]=GNU Image Manipulation Program
Name[en_GB]=GNU Image Manipulation Program
Name[eo]=Bildmanipulilo (GIMP = GNU Image Manipulation Program)
Name[es]=Programa de manipulación de imágenes de GNU
Name[et]=GNU pilditöötlusprogramm
Name[eu]=GNUren Irudiak Manipulatzeko Programa
Name[fa]=برنامهٔ روتوش تصاویر گنو
Name[fi]=GIMP-kuvankäsittely
Name[fr]=Éditeur d'image GIMP
Name[gl]=Programa de Manipulación de Imaxes de GNU
Name[gu]=GNU ચિત્ર જાળવણી કાર્યક્રમ
Name[hi]=GNU छवि निर्माण प्रोग्राम
Name[hu]=A GNU képszerkesztőprogram
Name[is]=GNU Myndvinnsluforrit
Name[it]=GNU Image Manipulation Program
Name[ja]=GNU Image Manipulation Program
Name[km]=កម្មវិធី​រៀបចំ​រូបភាពរបស់ GNU
Name[ko]=GNU Image Manipulation Program
Name[lt]=GNU paveikslėlių manipuliavimo programa
Name[lv]=GNU programmatūra darbam ar attēliem
Name[mk]=ГНУ програма за манипулација со слики
Name[nb]=GNU bildebehandlingsprogram
Name[ne]=जी एन यू छवि परिचालन कार्यक्रम
Name[nl]=GNU Image Manipulation Program
Name[nn]=GNU biletbehandlingsprogram
Name[pa]=ਗਨੂ ਈਮੇਜ਼ ਮੈਨੂਪਲੇਸ਼ਨ ਪਰੋਗਰਾਮ
Name[pl]=GNU Image Manipulation Program
Name[pt]=Programa de Manipulação de Imagens GNU
Name[pt_BR]=GNU Image Manipulation Program
Name[ro]=GIMP – Programul GNU de editare de imagini
Name[ru]=GNU Image Manipulation Program
Name[sl]=GIMP - program GNU za obdelavo slik
Name[sr]=Гнуов програм за обраду слика
Name[sr@latin]=Gnuov program za obradu slika
Name[sv]=GNU:s bildmanipuleringsprogram
Name[ta]=க்னூ பட கையாளல் நிரல்
Name[th]=GNU Image Manipulation Program
Name[tr]=GNU Resim Düzenleme Programı
Name[tt]=Sürät Eşkärtüçe GNU-Yasılım
Name[uk]=GNU Image Manipulation Program
Name[vi]=Chương Trình Thao Tác Ảnh GNU
Name[zh_CN]=GNU 图像处理程序
Name[zh_HK]=GNU 圖片處理程式
Name[zh_TW]=GNU 圖片處理程式
GenericName=Image Editor
GenericName[ar]=محرر صور
GenericName[be]=Рэдактар відарысаў
GenericName[bg]=Редактор на изображения
GenericName[ca]=Editor d'imatges
GenericName[ca@valencia]=Editor d'imatges
GenericName[cs]=Editor obrázků
GenericName[da]=Billedredigering
GenericName[de]=Bildeditor
GenericName[dz]=གཟུགས་བརྙན་ ཞུན་དག་པ།
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[eo]=Bilada Redaktilo
GenericName[es]=Editor de imagen
GenericName[et]=Pildiredaktor
GenericName[eu]=Irudi-editorea
GenericName[fa]=ویرایشگر تصویر
GenericName[fi]=Kuvankäsittely
GenericName[fr]=Éditeur d'image
GenericName[gl]=Editor de imaxes
GenericName[gu]=ચિત્ર સંપાદક
GenericName[hu]=Képszerkesztő
GenericName[is]=Myndvinnsluforrit
GenericName[it]=Editor immagine
GenericName[ja]=画像エディタ
GenericName[ka]=გამოსახულებების რედაქტორი
GenericName[km]=កម្មវិធី​និពន្ធ​រូបភាព
GenericName[ko]=이미지 편집기
GenericName[lt]=Paveikslėlių rengyklė
GenericName[lv]=Attēla redaktors
GenericName[mk]=Уредник за слики
GenericName[nb]=Bildebehandler
GenericName[ne]=छवि सम्पादक
GenericName[nl]=Afbeeldingsbewerker
GenericName[nn]=Biletbehandlar
GenericName[pa]=ਚਿੱਤਰ ਐਡੀਟਰ
GenericName[pl]=Edytor obrazu
GenericName[pt]=Editor de Imagens
GenericName[pt_BR]=Editor de Imagens
GenericName[ro]=Editor de imagine
GenericName[ru]=Редактор изображений
GenericName[sk]=Editor obrázkov
GenericName[sl]=Urejevalnik slik
GenericName[sr]=Обрада слика
GenericName[sr@latin]=Obrada slika
GenericName[sv]=Bildredigerare
GenericName[ta]=பிம்ப திருத்தி
GenericName[th]=ตัวแก้ไขภาพ
GenericName[tr]=Resim Düzenleyici
GenericName[tt]=Sürät Tözätkeç
GenericName[uk]=Редактор зображень
GenericName[vi]=Bộ biên soạn ảnh
GenericName[xh]=UmHleli woMfanekiso
GenericName[zh_CN]=图像编辑器
GenericName[zh_HK]=圖片編輯器
GenericName[zh_TW]=圖片編輯器
Comment=Create images and edit photographs
Comment[ar]=أنشئ صورا وحرّر لقطات
Comment[be]=Стварэньне відарысаў і рэдагаваньне фатаграфій
Comment[bg]=Създаване на изображения и редакция на снимки
Comment[ca]=Creeu imatges i editeu fotografies
Comment[ca@valencia]=Creeu imatges i editeu fotografies
Comment[cs]=Vytvářet obrázky a upravovat fotografie
Comment[da]=Opret billeder og redigér fotografier
Comment[de]=Bilder erstellen und Fotografien bearbeiten
Comment[dz]=གཟུགས་བརྙན་ཚུ་ གསར་བསྐྲུན་འབད་ནི་དང་ དཔར་ཚུ་ཞུན་དག་འབད།
Comment[en_CA]=Create images and edit photographs
Comment[en_GB]=Create images and edit photographs
Comment[eo]=Kreu bildojn aŭ redaktu fotojn
Comment[es]=Cree imágenes y edite fotografías
Comment[et]=Loo pilte ja redigeeri fotosid
Comment[eu]=Sortu irudiak eta editatu argazkiak
Comment[fi]=Luo kuvia ja muokkaa valokuvia
Comment[fr]=Créer des images et modifier des photographies
Comment[gl]=Crear imaxes e editar fotografías
Comment[gu]=ચિત્રો બનાવો અને ફોટાઓમાં ફેરફાર કરો
Comment[hu]=Képek létrehozása és fotók szerkesztése
Comment[it]=Crea immagini o modifica fotografie
Comment[ja]=画像の作成と写真の編集を行います
Comment[km]=បង្កើត​រូបភាព និង កែសម្រួល​រូបថត
Comment[ko]=이미지를 만들거나 사진을 편집합니다.
Comment[lt]=Kurti paveikslėlius ir redaguoti fotografijas
Comment[lv]=Attēlu vai fotogrāfiju izveide un koriģēšana
Comment[mk]=Направи слики и уреди фотографии
Comment[nb]=Lag bilder og rediger fotografier
Comment[ne]=छवि सिर्जना गर्नुहोस् र फोटोग्राफ सम्पादन गर्नुहोस्
Comment[nl]=Afbeeldingen of foto's aanmaken en bewerken
Comment[nn]=Lag teikningar eller rediger foto
Comment[pa]=ਚਿੱਤਰ ਬਣਾਓ ਅਤੇ ਤਸਵੀਰਾਂ ਸੋਧੋ
Comment[pl]=Program do tworzenia oraz obróbki obrazów i fotografii
Comment[pt]=Criar imagens e editar fotografias
Comment[pt_BR]=Crie e edite imagens ou fotografias
Comment[ro]=Creează imagini și editează fotografii
Comment[ru]=Создание изображений и редактирование фотографий
Comment[sl]=Ustvari slike in uredi fotografije
Comment[sr]=Направите слике и уредите фотографије
Comment[sr@latin]=Napravite slike i uredite fotografije
Comment[sv]=Skapa bilder och redigera fotografier
Comment[ta]=பிம்பங்களை உருவாக்கவும் மற்றும் படங்களை திருத்தவும்
Comment[tr]=Resim ya da fotoğrafları oluşturun ve düzenleyin
Comment[uk]=Створення зображень та редагування фотографій
Comment[vi]=Tạo và biên soạn ảnh hay ảnh chụp
Comment[zh_CN]=创建图像或编辑照片
Comment[zh_HK]=建立圖像與編輯照片
Comment[zh_TW]=建立圖像與編輯照片
Exec=gimp-2.6 %U
TryExec=gimp-2.6
Icon=gimp
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=GIMP
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.6.6
X-GNOME-Bugzilla-OtherBinaries=gimp-2.6
StartupNotify=true
MimeType=application/postscript;image/bmp;image/g3fax;image/gif;image/x-fits;image/pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/tiff;image/jpeg;image/x-psd;image/png;image/x-icon;image/x-xpixmap;image/svg+xml;image/x-wmf;
