src/
pkg/
*.pkg.*
.working/
.working-i686/
.working-x86_64/
*.iso
*.md5
*.lzm
*.o
*.swp
*.part
*.tar
*.pyc
scripts/profiles/*/packlist/
scripts/profiles/*/log/
scripts/profiles/*/packages.list
scripts/profiles/*/initrd/
scripts/linux-live/*/initrd/
