[Entry 0]
Name=Music Player
Comment=Manage and listen to your music collection
Icon=/usr/share/icons/Tango/scalable/mimetypes/audio-x-generic.svg
Exec=audacious2
Terminal=false
StartupNotify=false

[Global]
MoveFirst=false
ArrowPosition=0

