[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Conky
Comment=System Monitor
Exec=conky
StartupNotify=false
Terminal=false
Hidden=false

