PROMPT 0
TIMEOUT 40
DEFAULT /boot/vesamenu.c32

LABEL linux
MENU LABEL Run linux
KERNEL /boot/vmlinuz
APPEND vga=769 initrd=/boot/initrd.gz ramdisk_size=6666 root=/dev/ram0 rw

LABEL memtest86
MENU LABEL Run Memtest utility
KERNEL /boot/mt86p
