[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Comment=Browse the World Wide Web
Icon=chromium-browser
Exec=chromium-browser
Terminal=false
Type=Application
Categories=Network;
StartupWMClass=Chromium