[Desktop Entry]
Name=Blue Curl
Name[bn_IN]=নীলাভ ঘূর্ণি
Name[ca]=Tirabuixó blau
Name[de]=Blaue Schnörkel
Name[es]=Ondas azules
Name[et]=Sinikähar
Name[fr]=Courbe bleue
Name[fy]=Blauwe Curl
Name[gl]=Rizo azul
Name[gu]=વાદળી ચકરડું
Name[hu]=Kék fodor
Name[it]=Ricciolo blu
Name[ja]=青のカール
Name[km]=ព្រិលៗ​អង្កាញ់​
Name[ko]=파란 물결
Name[lv]=Zilais vilnis
Name[mk]=Син премин
Name[ml]=നീലച്ചുരുള്‍
Name[mr]=निळे वेटाळे
Name[nds]=Blaag Küsel
Name[nn]=Blåkrøll
Name[pl]=Niebieski zawijas
Name[pt]=Onda Azul
Name[pt_BR]=Ondulação azul
Name[sl]=Modra vitica
Name[sr]=Плаво с локнама
Name[sr@latin]=Plavo s loknama
Name[sv]=Blå lockar
Name[th]=ขดเกลียวฟ้า
Name[tr]=Mavi Büklüm
Name[uk]=Синій завиток
Name[wa]=Bleuwe crole
Name[x-test]=xxBlue Curlxx
Name[zh_CN]=蓝色旋卷

X-KDE-PluginInfo-Name=Blue_Curl
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
