[Entry 0]
Name=Terminal
Exec=exo-open --launch TerminalEmulator
Terminal=false
StartupNotify=false
Comment=X console
Icon=gnome-terminal

[Entry 1]
Name=File locator
Exec=search4files
Terminal=false
StartupNotify=false
Comment=Search files and directories on the system
Icon=gnome-search

[Entry 2]
Name=Application locator
Exec=xfce4-appfinder
Terminal=false
StartupNotify=false
Comment=Search applications on the system
Icon=xfce4-appfinder

