[Desktop Entry]
Name=GParted Partition Editor
Name[ca]=Editor de particions GParted
Name[cs]=Editor oddílů GParted
Name[de]=GParted Partitionierungswerkzeug
Name[el]=Επεξεργαστής κατατμήσεων GParted
Name[es]=Editor de particiones GParted
Name[eu]=GParted partizio-editorea
Name[fi]=GParted - levyosioiden muokkain
Name[fr]=Éditeur de partitions GParted
Name[gl]=Editor de particións GParted
Name[gu]=GParted પાર્ટીશન સંપાદક
Name[hu]=GParted partíciószerkesztő
Name[it]=GParted - Editor di partizioni
Name[nl]=Gparted partitiebewerker
Name[pl]=Edytor partycji GParted
Name[pt_BR]=Editor de Partições GParted
Name[sk]=GParted editor oddielov
Name[sv]=Partitionsredigeraren GParted
Name[th]=เครื่องมือแก้ไขพาร์ทิชัน GParted
Name[uk]=GParted Редактор Розділів
Name[zh_HK]=GParted 分割區編輯器
Name[zh_TW]=GParted 分割區編輯器
Comment=Create, reorganize, and delete partitions
Comment[ca]=Creeu, reorganitzeu i suprimiu particions
Comment[cs]=Vytvořit, znovu uspořádat a odstranit oddíly
Comment[de]=Partitionen erzeugen, reorganisieren und löschen
Comment[el]=Δημιουργία, επεξεργασία και διαγραφή κατατμήσεων
Comment[es]=Cree, reorganice y borre particiones
Comment[eu]=Sortu, berrantolatu eta ezabatu partizioak
Comment[fi]=Luo, järjestele ja poista osioita
Comment[fr]=Crée, réorganise et supprime des partitions
Comment[gl]=Crear, reorganizar e eliminzar particións
Comment[hu]=Partíciók létrehozása, újraszervezése és törlése
Comment[it]=Crea, riorganizza ed elimina partizioni
Comment[nl]=Partities aanmaken, ordenen en verwijderen
Comment[pl]=Tworzenie, reorganizacja i usuwanie partycji
Comment[pt_BR]=Crie, reorganize e exclua partições
Comment[sk]=Vytvoriť, preorganizovať a odstrániť oddiely
Comment[sv]=Skapa, organisera om och ta bort partitioner
Comment[th]=สร้าง ปรับโครงสร้าง และลบพาร์ทิชัน
Comment[uk]=Створити, перемістити чи видалити розділ
Comment[zh_HK]=建立、編輯或刪除分割區
Comment[zh_TW]=建立、編輯或刪除分割區
Exec=sudo /usr/sbin/gparted %f
Icon=gparted
Terminal=false
Type=Application
Categories=GNOME;System;Filesystem;
StartupNotify=true
