[Entry 20]
Name=Swedish layout
Icon=/usr/share/pixmaps/flags/se.png
Exec=setxkbmap se
Terminal=false
StartupNotify=false

[Global]
MoveFirst=false
ArrowPosition=0

[Entry 0]
Name=Keyboard map
Comment=Change the keyboard map
Icon=/usr/share/icons/Tango/32x32/devices/keyboard.png
Exec=select-keyboard-layout
Terminal=true
StartupNotify=false

[Entry 1]
Name=American layout
Icon=/usr/share/pixmaps/flags/us.png
Exec=setxkbmap us
Terminal=false
StartupNotify=false

[Entry 2]
Name=Belgian layout
Icon=/usr/share/pixmaps/flags/be.png
Exec=setxkbmap be
Terminal=false
StartupNotify=false

[Entry 3]
Name=Brazilian layout
Icon=/usr/share/pixmaps/flags/br.png
Exec=setxkbmap br
Terminal=false
StartupNotify=false

[Entry 4]
Name=British layout
Icon=/usr/share/pixmaps/flags/gb.png
Exec=setxkbmap gb
Terminal=false
StartupNotify=false

[Entry 5]
Name=Bulgarian layout
Icon=/usr/share/pixmaps/flags/bg.png
Exec=setxkbmap bg
Terminal=false
StartupNotify=false

[Entry 6]
Name=Canadian layout
Icon=/usr/share/pixmaps/flags/ca.png
Exec=setxkbmap ca
Terminal=false
StartupNotify=false

[Entry 7]
Name=Czech layout
Icon=/usr/share/pixmaps/flags/cz.png
Exec=setxkbmap cz
Terminal=false
StartupNotify=false

[Entry 8]
Name=Danish layout
Icon=/usr/share/pixmaps/flags/dk.png
Exec=setxkbmap dk
Terminal=false
StartupNotify=false

[Entry 9]
Name=Dutch layout
Icon=/usr/share/pixmaps/flags/nl.png
Exec=setxkbmap nl
Terminal=false
StartupNotify=false

[Entry 10]
Name=French layout
Icon=/usr/share/pixmaps/flags/fr.png
Exec=setxkbmap fr
Terminal=false
StartupNotify=false

[Entry 11]
Name=German layout
Icon=/usr/share/pixmaps/flags/de.png
Exec=setxkbmap de
Terminal=false
StartupNotify=false

[Entry 12]
Name=Hungarian layout
Icon=/usr/share/pixmaps/flags/hu.png
Exec=setxkbmap hu
Terminal=false
StartupNotify=false

[Entry 13]
Name=Icelandic layout
Icon=/usr/share/pixmaps/flags/is.png
Exec=setxkbmap is
Terminal=false
StartupNotify=false

[Entry 14]
Name=Italian layout
Icon=/usr/share/pixmaps/flags/it.png
Exec=setxkbmap it
Terminal=false
StartupNotify=false

[Entry 15]
Name=Norwegian layout
Icon=/usr/share/pixmaps/flags/no.png
Exec=setxkbmap no
Terminal=false
StartupNotify=false

[Entry 16]
Name=Polish layout
Icon=/usr/share/pixmaps/flags/pl.png
Exec=setxkbmap pl
Terminal=false
StartupNotify=false

[Entry 17]
Name=Portuguese layout
Icon=/usr/share/pixmaps/flags/pt.png
Exec=setxkbmap pt
Terminal=false
StartupNotify=false

[Entry 18]
Name=Russian layout
Icon=/usr/share/pixmaps/flags/ru.png
Exec=setxkbmap ru
Terminal=false
StartupNotify=false

[Entry 19]
Name=Spanish layout
Icon=/usr/share/pixmaps/flags/es.png
Exec=setxkbmap es
Terminal=false
StartupNotify=false

