[Desktop Entry]
Name=startXnest
Comment=Start window managers in nested windows
Exec=startXnest
Icon=startXnest
Terminal=false
Type=Application
Categories=Application;System;Settings
StartupNotify=true
Encoding=UTF-8
