[Desktop Entry]
Encoding=UTF-8
Name=Desktop
Comment=Files on your Desktop
Comment[it]=I file sul vostro desktop
Type=Link
X-Enlightenment-Type=Mount
URL=file:$HOME/Desktop
Icon=fileman/desktop
