#!/bin/bash
# This is a config file for build script.
#
# You shouldn't need to change anything

# Live CD Name. Defaults to 'mylinux'; you should change it to your own
# name if you wish your own branding. Eg. Slax changes it to 'slax'
# Must not contain any spaces. You'll be asked for this during livecd creation.
LIVECDNAME="archpwn"

# the size of RAMdisk (in KBytes)
# if you change this, then you will need to change the same
# in the following files as well: ./cd-root/boot/isolinux.cfg, ./cd-root/boot/syslinux.cfg, ./cd-root/boot/DOS/config
RAM0SIZE=8888

# kernel version. Change it to "2.6.10" for example, if you are building
# LiveCD with a different kernel than the one you are actually running
KERNEL=$(uname -r)

# list of directories which will be modularized
# no subdirectories are allowed, no slashes. You can't use /var/tmp here for example
MKMOD="bin etc home lib lib64 opt root usr sbin srv var"

# list of files and directories you'd like to exclude from your LiveCD
EXCLUDE="/etc/fstab /etc/mtab"

# compressed directories (cd tree and *.lzm) will be stored here
# (the whole folder will be erased now!)
CDDATA=/tmp/live_data_$$

# change this variable if you installed your distro to some directory.
# for example ROOT=/tmp/newdir. You may leave it empty, then it defaults to /
ROOT=

# If the writable branch (used for changes) doesn't support symlinks or if it
# doesn't handle chmod attributes well, overmount it using the posix overlay 
# filesystem (posixovl).
# This is generally a good idea if you wish to use 'changes=/directory' while
# the /directory resides on VFAT or NTFS. It's just cool! No more need of
# pre-created loop filesystems with fixed size. Posixovl is sponsored by Slax.
# USEPOSIXOVL=yes|no
USEPOSIXOVL=yes

# Use NTFS-3g to provide NTFS-write support in initrd, instead of standard
# read-only NTFS driver from kernel, so it can mount NTFS partitions and 
# save changes to it (eg. using changes= boot param).
# Precompiled NTFS-3G binaries are included in Linux Live scripts.
# If a ntfs partition is mounted this way in initrd, make sure to fix your
# distribution to NOT KILL the ntfsmount process during shutdown procedures.
# Else it will hang the system during shutdown.
# USENTFS3G=yes|no
USENTFS3G=yes

# Add locales for given language, separated by space. For supported languages
# see ./initrd/rootfs/usr/share/locale/locale.alias in your distribution.
# This is needed eg. for international NTFS-3g support. If you add more than
# one locale, make sure to specify which one to use, see boot parameter locale=
# If only one locale is specified, you don't have to specify boot parameter.
# Empty string means no locales, support English only.
#ADDLOCALE="czech"
ADDLOCALE=""

# Directory with kernel .ko modules, can be different in some distros
LMK="lib/modules/$KERNEL"

# Debug log file for linux-live scripts (during livecd creation)
DEBUG=/tmp/linux-live-debug.log
