[Desktop Entry]
Encoding=UTF-8
Type=Link
X-Enlightenment-Type=Removable
X-Enlightenment-Removable-State=Full
Name=My Passport
Icon=drive-harddisk
Comment=Removable Device
URL=file://org/freedesktop/Hal/devices/volume_uuid_54A5_509E
