
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Install Flash Player
Comment=Install the Adobe flash player plugin
Categories=Application;
Exec=install_flash_player
Icon=flash
Terminal=true
StartupNotify=false
