default vesamenu.c32
prompt 0
timeout 50

#MENU BACKGROUND bkgd.jpg

MENU TITLE Archiso-Live live CD

label arch1
MENU LABEL ArchLinux XFCE Desktop
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us session=xfce load=overlay usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label arch2
MENU LABEL ArchLinux E17 Desktop
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us session=e17 load=overlay usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label arch3
MENU LABEL ArchLinux Gnome Desktop
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us session=gnome load=overlay usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label arch4
MENU LABEL ArchLinux LXDE Desktop
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us session=lxde load=overlay usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label copy2ram
MENU LABEL Boot ArchLive XFCE Desktop copy2ram
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us session=xfce load=overlay copy2ram ramsize=75% usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label copy2ram2
MENU LABEL Boot ArchLive LXDE Desktop copy2ram
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us session=lxde load=overlay noload=ap.0 copy2ram ramsize=75% usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label copy2ram3
MENU LABEL Boot ArchLive folding@home copy2ram
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us load=overlay noload=a.00[2-6];ap.00 baseonly copy2ram ramsize=75% usbdelay=5 noxconf fah

label fail
MENU LABEL Boot ArchLive XFCE Desktop in failsafe/vbox mode
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us session=xfce load=overlay usbdelay=5 acpi=off noapic pci=bios noxconf nohd

label memtest
MENU LABEL Memory tester
kernel memtest
