default vesamenu.c32
prompt 0
timeout 50

#MENU BACKGROUND bkgd.jpg

MENU TITLE Archiso-Live live CD

label arch1
MENU LABEL ArchLinux XFCE Desktop
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us load=overlay usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label arch3
MENU LABEL ArchLinux Gnome Desktop
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us session=gnome load=overlay usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label arch4
MENU LABEL ArchLinux LXDE Desktop
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us session=lxde load=overlay usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label copy2ram
MENU LABEL Boot ArchLive XFCE Desktop copy2ram
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us load=overlay copy2ram ramsize=75% usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label copy2ram2
MENU LABEL Boot ArchLive LXDE Desktop copy2ram
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us load=overlay noload=ap.0 copy2ram ramsize=75% usbdelay=5 video=vesafb:ywrap,mtrr,1280x1024-32@60

label fail
MENU LABEL Boot ArchLive XFCE Desktop in failsafe/vbox mode
kernel /boot/vmlinuz
append initrd=/boot/archlive.img elevator=deadline lang=en_US keyb=us acpi=off noapic pci=bios noxconf load=overlay usbdelay=5 nohd

label memtest
MENU LABEL Memory tester
kernel memtest
