<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="games-menu" label="Games">
		<item label="xbill">
			<action name="Execute">
				<execute>
					xbill
				</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-menu" label="Applications">
		<menu id="apps-menu-385811" label="MultiMedia">
			<item label="Sonata">
				<action name="Execute">
					<execute>
						sonata
					</execute>
				</action>
			</item>
			<item label="CD Ripper">
				<action name="Execute">
					<execute>
						asunder
					</execute>
				</action>
			</item>
			<item label="Photo Viewer">
				<action name="Execute">
					<execute>
						gthumb
					</execute>
				</action>
			</item>
			<item label="Comic Viewer">
				<action name="Execute">
					<execute>
						comix
					</execute>
				</action>
			</item>
		</menu>
		<menu id="apps-menu-105140" label="Utils">
			<item label="Xterm">
				<action name="Execute">
					<execute>
						xterm
					</execute>
				</action>
			</item>
			<item label="Calculator">
				<action name="Execute">
					<execute>
						galculator
					</execute>
				</action>
			</item>
			<item label="Geany">
				<action name="Execute">
					<execute>
						geany
					</execute>
				</action>
			</item>
			<item label="ISOmaster">
				<action name="Execute">
					<execute>
						isomaster
					</execute>
				</action>
			</item>
			<item label="File Manager">
				<action name="Execute">
					<execute>
						pcmanfm
					</execute>
				</action>
			</item>
			<item label="Pdfviewer">
				<action name="Execute">
					<execute>
						epdfview
					</execute>
				</action>
			</item>
		</menu>
		<menu id="apps-menu-62618" label="Internet">
			<item label="Grsync">
				<action name="Execute">
					<execute>
						grsync
					</execute>
				</action>
			</item>
			<item label="Email Client">
				<action name="Execute">
					<execute>
						sylpheed
					</execute>
				</action>
			</item>
			<item label="Transmission">
				<action name="Execute">
					<execute>
						transmission
					</execute>
				</action>
			</item>
			<item label="Download Manager">
				<action name="Execute">
					<execute>
						urlgfe
					</execute>
				</action>
			</item>
			<item label="Gftp">
				<action name="Execute">
					<execute>
						gftp
					</execute>
				</action>
			</item>
			<item label="Xchat">
				<action name="Execute">
					<execute>
						xchat
					</execute>
				</action>
			</item>
			<item label="Wicd">
				<action name="Execute">
					<execute>
						wicd
					</execute>
				</action>
			</item>
			<item label="Firefox">
				<action name="Execute">
					<execute>
						firefox
					</execute>
				</action>
			</item>
		</menu>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Openbox"/>
		<menu id="apps-menu"/>
		<menu id="games-menu"/>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="xdg">
			<action name="Execute">
				<execute>
					obm-xdg
				</execute>
			</action>
		</item>
		<item label="Run">
			<action name="Execute">
				<execute>
					gmrun
				</execute>
			</action>
		</item>
		<item label="ObMenu">
			<action name="Execute">
				<execute>
					obmenu
				</execute>
			</action>
		</item>
		<item label="ObConf">
			<action name="Execute">
				<startupnotify>
					<enabled>
						yes
					</enabled>
					<icon>
						openbox
					</icon>
				</startupnotify>
				<command>
					obconf
				</command>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
