[Desktop Entry]
Encoding=UTF-8
Type=Link
X-Enlightenment-Type=Removable
X-Enlightenment-Removable-State=Full
Name=CHRIS1
Icon=drive-removable-media
Comment=Removable Device
URL=file://org/freedesktop/Hal/devices/volume_uuid_3141_5926
